HASURA_GRAPHQL_ADMIN_SECRET=local-hasura-admin-secret-change-me
HASURA_GRAPHQL_JWT_SECRET={"type":"HS256","key":"localjwtsecretlocaljwtsecretlocaljw"}
NHOST_WEBHOOK_SECRET=local-nhost-webhook-secret-change-me
GRAFANA_ADMIN_PASSWORD=grafana
